<° ./module/UIkit.css °>

/*--─────────────────────────────────────────────────────────────────────────────────────────--*/

@font-face {
    font-family: 'fr-light'; font-display: swap;
    src: url('./font/OR_Light.otf');
}

@font-face {
    font-family: 'fr-bold'; font-display: swap;
    src: url('./font/OR_Bold.otf');
}

@font-face {
    font-family: 'fr-regular'; font-display: swap;
    src: url('./font/OR_Regular.otf');
}

* { user-select: none !important; }

/*--─────────────────────────────────────────────────────────────────────────────────────────--*/

[active=true]{ 
    background-color: var(--color-secondary) !important; 
    border-color: var(--color-secondary) !important;
    color: var(--color-default) !important;
}
[active=false]{ 
    background-color: var(--color-default) !important; 
    border-color: var(--color-mute) !important;
    color: var(--color-secondary) !important;
}

/*--─────────────────────────────────────────────────────────────────────────────────────────--*/

.uk-logo { font-family: fr-bold; font-size: 30px; }
h1 { font-family: fr-bold; font-size: 60px; }
h1,h2,h3,h4,h5,h6 { margin: 5px }
h2 { font-family: fr-regular; }
h3 { font-family: fr-light; }
